header {
    background-color: hsla(347, 0%, 50%, 0.3);
    text-align: center;
    border-bottom: 2px solid #CC8D08;
    }
img {
    width: 20%;
    height: 20%;
    }
body {
    width: 925px;
    margin: auto;
    }
main {
    margin-left: 2%;
    }
h2 {
    color:#CC8D08;
    }
footer {
    text-align: center;
    font-size: 80%;
    border-top: 2px solid #CC8D08;
    background-color:lightblue;
    padding: 2px;
    }
*  {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
div {
    background-color:bisque;
    padding: 5px;
}
